<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
		<p>Buenas tardes, me llamo Abraham González, director de la empresa de consultoría y gestión tecnológica Bitbang. Estamos incursionando en el sector agroindustrial con <a href="http://www.agroden.com.mx">Agroden®</a>, un servicio web que ofrece una nueva manera de comprar y vender productos hortofrutícolas.</p>

		<p><a href="http://www.agroden.com.mx">Agroden®</a> es una plataforma para conectar a compradores y vendedores de frutas y hortalizas de manera directa y eficiente. El objetivo de Agroden es que nuestros usuarios:</p>
		<li>Aumenten sus carteras de clientes y diversifiquen proveedores.</li>
		<li>Encuentren mejores precios.</li>
		<li>Encuentren nuevos productos.</li>

		<p>Nos gustaría que <b><%= @recipient.name %></b> formara parte del grupo inicial de empresas que estamos invitando a probar este nuevo servicio.</p>

		<p>El registro es gratis y adicionalmente como incentivo por lanzamiento estamos ofreciendo un 20% de descuento en las comisiones sobre las primeras 10 transacciones exitosas que realicen. Para acceder a este descuento sólo es necesario ingresar el número de referencia <b>0731</b> al momento de crear una cuenta.</p>
		 
		<p>Sin más por el momento, un cordial saludo y me pongo a sus ordenes para aclarar cualquier duda o recibir algún comentario.</p>
		<br>
		 
		<p>Abraham González Guillén</p>
		<p>Director General</p>
		<p>Oficina: (55) 5243 8935</p>
		<p>abraham@bitbang.com.mx | <a href="http://www.agroden.com.mx">www.agroden.com.mx</a></p>

	</body>
</html>


